html {
    position: fixed;
    overflow: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: silver;
}
body {
    height: 100%;
    margin: 0;
    overflow: auto;
    background-image: url('../img/fundo2.jpg');
    background-size: 1600px;
    background-repeat: repeat-y;
}

.conteudo {
    background: rgba(255, 255, 255, 0.6);
    margin-bottom: -7px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

.barra {
    background: rgb(255,48,48);
    background: linear-gradient(347deg, rgba(255,48,48,1) 0%, rgba(163,0,0,1) 73%);
}

.post {
    background: #fff;
}

.post:hover {
    box-shadow: 0px 0px 10px 3px #969696;
    transition: 300ms linear;
}

.btn-voltar {
    background: #fff;
}

.btn-voltar:hover {
    background: rgba(163,0,0,1);
    border: 1px solid rgba(163,0,0,1);
}
